#svg-area {
  margin: 2% 2% 2% 2%;
  -webkit-box-shadow:
    		0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;

     -moz-box-shadow:
    		0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;

          box-shadow:
    		0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),

}

.border {
  width: 100%;
  height: 500px;
}

#question-mark {
  background-image: url('../src/question_mark.svg');
  width: 55px;
  height: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  margin-top: 2%;
  margin-left: 2%;
  display: grid;
  grid-template-columns: 13% 13% 13% 13% 13%;
  grid-gap: 10%;
  background-color: #fff;
  color: #444;
}

.shape-button {
  object-fit: contain;
  border-style: solid;
}

.oval {
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 border-radius: 50%;
}



/* Slider s */

.slidecontainer {
    width: 100%;
    text-align: center;
}

.slider {
    -webkit-appearance: none;
    width: 30%;
    height: 15px;
    border-radius: 5px;
    background: black;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: grey;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: grey;
    cursor: pointer;
}

/* Header */
ul {
    list-style-type: none;
    margin: 0;
    padding: 2.5%;
    overflow: hidden;
    background-color: black;
}

li a {
    display: block;
    color: white;
    font-size: 32px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.right {
  padding-left: 80%;
  padding-right: 1%;
  padding-top: 1%;
}

.frank {
  position: absolute;
  height: 12%;
  width: 12%;
  -webkit-border-radius: 40%;
  -moz-border-radius: 40%;
  border-radius: 40%;
  animation: rotation 30s infinite linear;
}

@keyframes rotation {
  100%{ transform:rotatey(360deg) }
}

/* Buttons */

.btn {
  margin-top: 1%;
  -webkit-border-radius: 34;
  -moz-border-radius: 34;
  border-radius: 34px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  background: #000000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #636363;
  text-decoration: none;
}
